In [2]:
import pandas
import numpy as np
import mpld3
import matplotlib
import matplotlib.pyplot as plt
import datetime

matplotlib.style.use('ggplot')

%matplotlib inline

In [3]:
data = pandas.read_csv('/tmp/inspector_demo.csv',
                       parse_dates=['run_start_timestamp', 'run_check_start_timestamp', 'run_check_end_timestamp'],
                       date_parser=lambda d: datetime.datetime.strptime(d, "%Y-%m-%d %H:%M:%S"))
print(type(data['run_start_timestamp'][0]))
data.head()

<class 'pandas.tslib.Timestamp'>

,instance_name,database_name,table_name,table_partitioned,run_start_timestamp,run_mode,partition_key,partition_value,check_name,check_policy_type,...,run_check_start_timestamp,run_check_end_timestamp,run_check_mode,run_check_rc,run_check_violation_cnt,run_check_anomaly_score,run_check_scope,run_check_unit,run_check_severity_score,run_check_validated
0,prod,westwind,cust_asset_events,1,2015-01-01 02:00:00,incremental,date_id,2015001,date_id_fk,quality,...,2015-01-01 02:00:00,2015-01-01 02:00:01,incremental,0,956240,0,0.95624,rows,1,NaN
1,prod,westwind,cust_asset_events,1,2015-01-01 02:00:00,incremental,date_id,2015001,table_not_empty,quality,...,2015-01-01 02:00:01,2015-01-01 02:00:02,incremental,0,0,0,0.00000,tables,0,NaN
2,prod,westwind,cust_asset_events,1,2015-01-01 02:00:00,incremental,date_id,2015001,asset_id_fk,quality,...,2015-01-01 02:00:02,2015-01-01 02:00:03,incremental,0,0,0,0.00000,rows,0,NaN
3,prod,westwind,cust_asset_events,1,2015-01-01 02:00:00,incremental,date_id,2015001,cust_id_fk,quality,...,2015-01-01 02:00:03,2015-01-01 02:00:04,incremental,0,0,0,0.00000,rows,0,NaN
4,prod,westwind,cust_asset_events,1,2015-01-01 02:00:00,incremental,date_id,2015001,stats_exist,data-management,...,2015-01-01 02:00:04,2015-01-01 02:00:05,full,0,0,0,0.00000,tables,0,NaN

In [11]:
data.loc[None]

ValueError: cannot use label indexing with a null key

In [4]:
[group['run_check_violation_cnt'].sum() for key, group in data.groupby('instance_name')]

[173141415]

In [5]:
series = [pandas.Series(df['run_check_violation_cnt'].values, index=df['run_check_end_timestamp'].values)
             for df in [group[['run_check_end_timestamp', 'run_check_violation_cnt']]
                         for key, group in data.groupby('instance_name')]]
series

[2015-01-01 02:00:01    956240
 2015-01-01 02:00:02         0
 2015-01-01 02:00:03         0
 2015-01-01 02:00:04         0
 2015-01-01 02:00:05         0
 2015-01-01 02:00:06         0
 2015-01-01 02:00:07         0
 2015-01-01 02:00:08         0
 2015-01-01 02:00:09         0
 2015-01-01 02:00:10         0
 2015-01-01 02:00:11         0
 2015-01-01 02:00:12         0
 2015-01-01 02:00:13         0
 2015-01-01 02:00:14         0
 2015-01-01 02:00:15         0
 2015-01-01 02:00:16         0
 2015-01-01 02:00:17         0
 2015-01-01 02:00:18         0
 2015-01-01 02:00:19         0
 2015-01-01 02:00:20         0
 2015-01-01 02:00:21         0
 2015-01-01 02:00:22         0
 2015-01-01 02:00:23         0
 2015-01-01 02:00:24         0
 2015-01-01 02:00:25         0
 2015-01-01 02:00:26         0
 2015-01-01 02:00:27         0
 2015-01-01 02:00:28         0
 2015-01-01 02:00:29         0
 2015-01-01 02:00:30         0
                         ...
 2015-01-01 03:12:31         0
 2015-01-01 03:12:32         0
 2015-01-01 03:12:33         0
 2015-01-01 03:12:34         0
 2015-01-01 03:12:35         0
 2015-01-01 03:12:36         0
 2015-01-01 03:12:37         0
 2015-01-01 03:12:38         0
 2015-01-01 03:12:39         0
 2015-01-01 03:12:40         0
 2015-01-01 03:12:41         0
 2015-01-01 03:12:42         0
 2015-01-01 03:12:43         0
 2015-01-01 03:12:44         0
 2015-01-01 03:12:45         0
 2015-01-01 03:12:46         0
 2015-01-01 03:12:47         0
 2015-01-01 03:12:48         0
 2015-01-01 03:12:49         0
 2015-01-01 03:12:50         0
 2015-01-01 03:12:51         0
 2015-01-01 03:12:52         0
 2015-01-01 03:12:53         0
 2015-01-01 03:12:54         0
 2015-01-01 03:12:55         0
 2015-01-01 03:12:56         0
 2015-01-01 03:12:57         0
 2015-01-01 03:12:58         0
 2015-01-01 03:12:59         0
 2015-01-01 03:13:00         0
 dtype: int64]

In [6]:
series[0].resample('D', how='count')

2015-01-01    4380
Freq: D, dtype: int64

In [ ]:
plots = [plt.figure() for h in history]